@import "../../css/variables";

.users-container {
  display: flex;
  flex-direction: row;
  background: #999;
  margin-bottom: 20px;
}

.users-list {
  width: 300px;

  .user-item {
    padding: 7px 0;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      color: #1d3d8c;
    }
    strong {
      margin-right: 5px;
    }
  }
}

.posts {
  box-sizing: border-box;
  flex: 1;
  padding: 0 $guiter;

  h2 {
    margin: 0 0 15px;
  }
  h4 {
    margin: 0 0 10px;
  }
  .post-item {
    margin-bottom: 15px;
  }
}
