@import "../../css/variables";

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  a {
    color: #fff;
  }
}

.content {
  flex: 1;
  padding: $guiter;
}


.flex-container {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.mount-component-preview {
  margin: $guiter 0;
  padding: $guiter;
  background: rgba(157, 209, 216, 0.6);
}
