.editable-box {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  .editable-text {
    display: inline-block;
    padding: 0;
    border: 0;
  }
  .editable-control {
    padding: 0;
    font: inherit;
    border: 0;
    background: transparent;
    color: inherit;
    max-width: 100%;
  }
}
