@import "../../css/functions";
@import "../../css/mixins";

.main {
  @include round(5);
  position: relative;
  flex: 1;
  width: 1024px;
  max-width: #{getPart(100, 80)};
  padding: 50px;
  margin: 20px auto;
  border: 3px solid #e07b7b;
  background: rgba(255, 255, 255, 0.57);
  @include triangle(left);
}