body {
  margin: 0;
  padding: 0;
  background: url('/images/main-bg.png') 0 0 repeat;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: #1d3d8c;
}

button {
  cursor: pointer;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  width: 80%;
  margin: 40px auto;
  background: #1d3d8c;
  color: #fff;
  border: 2px dashed #fff;
  box-shadow: 0 0 0 5px #0e3c91;
}

