body {
  margin: 0;
  padding: 0;
  background: url('/images/main-bg.png') 0 0 repeat;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: #1d3d8c;
}

button {
  cursor: pointer;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  width: 80%;
  margin: 40px auto;
  background: #1d3d8c;
  color: #fff;
  border: 2px dashed #fff;
  box-shadow: 0 0 0 5px #0e3c91;
}

.main-title {
  text-align: center;
}


button, .btn-submit {
  min-width: 120px;
  height: 50px;
  line-height: 50px;
  background: #659cff;
  color: #fff;
  border: 0;
  border-radius: 3px;
  font-size: inherit;

}

.logo {
  display: inline-block;
  width: 50px;
  padding: 10px;
  box-sizing: border-box;
  img {
    max-width: 100%;
  }
}

.navigation,
.user-box {
  a {
    text-decoration: none;
    font-size: 20px;
    color: #38455f;
    &.active {
      color: #e9e5f4;
    }
  }
}

.categories-list,
.cat-products-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
