
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: #1d3d8c;
}

button {
  cursor: pointer;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

