@import "../../css/variables";

.products {
  display: flex;
  align-items: center;
  padding: $guiter;
  height: 50px;
  background: $footerBgColor;
}

.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  max-width: 680px;
  margin: 0 auto;
  .product-item {
    display: inline-block;
    width: calc(25% - 20px);
    padding: 10px;
    margin: 5px 10px;
    border: 1px solid #659cff;
    text-align: center;
  }
  .product-link {
    display: block;
  }
}

.product-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 10px;
  span {
    margin: 0 0 0 5px;
  }
}

.edit-icon {
  width: 13px;
  height: 13px;
  cursor: pointer;
}

.delete-icon {
  font-size: 22px;
  cursor: pointer;
}
