@import "../../css/variables";
.small-container {
  max-width: 680px;
  margin: 0 auto;
}

.products {
  display: flex;
  align-items: center;
  padding: $guiter;
  height: 50px;
  background: $footerBgColor;
}

.filter-box {
  margin-bottom: 15px;
  input {
    width: 200px;
    height: 40px;
    background: #fff;
    border-radius: 3px;
    border: 0;
    padding: 0 10px;
    font-size: inherit;
  }
}

.products-list {
  margin: 0 -10px 15px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  .product-item {
    display: inline-block;
    width: calc(25% - 20px);
    padding: 10px;
    margin: 5px 10px;
    border: 1px solid #659cff;
    text-align: center;
  }
  .product-link {
    display: block;
  }
}

.product-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 10px;
  span {
    margin: 0 0 0 5px;
  }
}

.edit-icon {
  width: 13px;
  height: 13px;
  cursor: pointer;
}

.delete-icon {
  font-size: 22px;
  cursor: pointer;
}
